.maintenance{
    padding-top: 150px;
  }
  html {
    background: url("../imgs/code_bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
