h1,h2{font-weight:700;
    font-family:Montserrat
}


.aboutme{
    color: black;
}

.about-header-text {
    FONT-WEIGHT: 200;
    color: #fff;
    background-color: #e7ba05;
    max-width: 400px;
    align-content: center;
    border-radius: 10px;
    margin: auto;
    font-family: 'Righteous', cursive;
}

.experience{
    padding: 50px 0;
}

.experience-header-text {
    FONT-WEIGHT: 200;
    color: #fff;
    background-color: #e7ba05;
    max-width: 800px;
    align-content: center;
    border-radius: 10px;
    margin: auto;
    font-family: 'Righteous', cursive;
}


.education-header-text {
    FONT-WEIGHT: 200;
    color: #fff;
    background-color: #e7ba05;
    max-width: 400px;
    align-content: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Righteous', cursive;
}


.text-secondary {
    color: #6c757d!important;
}
.education-period {
    color: #6c757d!important;
}
#navi{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: Montserrat;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}
#navi .navbar-nav{
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
}

#navi .navbar-brand{
    color: #fff;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;

}

#navi .navbar-nav li.nav-item a.nav-link{
    color:#fff;
}
#navi .navbar-nav li.nav-item a.nav-link:hover{
    color:#18BC9C;
}
#navi .navbar-nav li.nav-item a.nav-link:active,#navi .navbar-nav li.nav-item a.nav-link:focus{
    color:#fff;
}
#navi .navbar-nav li.nav-item a.nav-link.active{
    color:#18BC9C;
}
#navi .navbar-toggler{
    font-size:80%;
    padding:0.8rem;
}

#navi.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #navi.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }

#navi .navbar-toggler{font-size:80%;padding:.8rem}

.intro {
    background: url("../imgs/code_bg.png") no-repeat center center fixed;
}

.about{
  color:#fff;
  font-family: Montserrat;
  padding: 50px 0;
}

.education{
    color:#fff;
    font-family: Montserrat;
    padding: 80px;
    height: 600px;
}

.top-skills{
    color:#fff;
    font-family: Montserrat;
    padding-bottom: 50px;
}
.about .row{
    margin: 40px 0;
}
.first-bg{
    background-color: #FFCC00!important
}
.second-bg{
    background-color: #fff!important
}
.nav-bg{
    background-color:#2c3e50!important;

}
.top-big-link{
    padding-top:50px;
}

.inner-div {
    padding: 210px 0;
}
.intro .text {
    color: #fff;
}
 
.intro .text h1 {
    margin-top: 25px;
    color: #fff;
}
 
.copyright {
    background-color: #1a252f;
  }

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 0 28px;
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.7);
    border: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
 
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #9b59b6;
    background: rgba(155, 89, 182, 0.9);
    outline: 0;
    color: #fff;
    box-shadow: none;
}

.light-text{
    color : #fff;
    background-color: #18BC9C;

}

.dark-text{
    background-color:   #fff;
    color:#272D2D;
}
.edu-text {
    color: #272D2D;
  
}
.portfolio{
    padding: 100px 0;
}

.portfolio2 {
    padding: 100px 0px 50px 0px;
}
.work-color {
    font-size: 14px;
    font-weight: bold;
    padding-left: 4em;
    display:block;
}
/*.portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;
  }
  
  .portfolio .portfolio-item .portfolio-item-caption {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background-color: rgba(24, 188, 156, 0.9);
  }
*/

.portfolio-box{
    padding-top: 30px;
    text-align: left;
    border-radius: 4px;
    border-color :black;
}

.portfolio-box-image {
    overflow: hidden;
    border-radius: 4px;
    border-color :black;
    width: 300px;
    height: 180px;
}

.portfolio-box-image img {
    -o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
    border-radius: 4px;
    border-color :black;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}
.portfolio-box h3 {
    font-family:Lato;
	margin-top: 30px;
}
.portfolio-box h3 a { color: #555; font-family: "Montserrat"; }
.portfolio-box h3 a:hover, .portfolio-box h3 a:focus {  }

.portfolio-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }

@media (min-width: 576px) {
    .portfolio {
      margin-bottom: -30px;
    }
    .portfolio .portfolio-item {
      margin-bottom: 30px;
    }
  }
  
  .portfolio-modal .portfolio-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
  
  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #18BC9C!important;
  }
  
  .portfolio-modal .portfolio-modal-dialog .close-button i {
    line-height: 38px;
  }
  
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem;
  }

  .wrap_desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media (min-width: 768px) {
    .portfolio-modal .portfolio-modal-dialog {
      min-height: 100vh;
      padding: 5rem;
      margin: 3rem calc(3rem - 8px);
    }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem;
    }
  }
.contact{
    padding: 100px 0;
}
.footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
    
}

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #666;
    line-height: 40px;
}



.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

/**/
.left_50 {
    margin: 0 auto;
}

#owl-example {
    color : black;
    border-radius: 5px;
    background-color: #555555;
}

.owl-nav {
    position: absolute;
    top: calc(50% - 21px);
    width: 107%;
    left: -21px
}

.owl-nav div {
    position: absolute;
    top: 50%;
    border: 1px solid #512da8;
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.owl-prev {
    left: 0;
    display: flex;
    background: #fff;
    font-size : 24px
}
.owl_text{
    font-size: 24px;
    color: white
}

.owl-next {
    right: 50px;
    display: flex;
    background: #fff;
    font-size : 24px
}

.owl-prev i,
.owl-next i {
    margin: auto
}

#owl-example .owl-item {
    box-sizing: border-box;
    padding: 40px;
    text-align: center
}

#owl-example .owl-item p {
    font-size: 24px
}

.mt-20 {
    margin-top: 10px
}

.name {
    font-size: 16px;
    color: #5130a8
}

/**/


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    background:#FFCC00!important;
    padding: 50px 0;
}

.experience-inner
{
    padding: 30px;
    background: #bdcefb;
    color: black;
    border-radius: 10px;

}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.timeline ul li .experience-outer {
    position: relative;
    bottom: 0;
    width: 400px;
    background: #6176b1;
    border-radius: 10px;
}

.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
    padding-left:20px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #6176b1 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
    padding-right: 20px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #666F88;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    color:#415eaf;
}

.company-text
{
    font-family: 'Righteous', cursive;
}

.company-description
{
    display: block;
    max-width: inherit;
}

.job-title-text
{
    color: grey;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #4d5154;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #1e5553 transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
    bottom: 12px;
}

.timeline-star ul li::after {
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.timeline-heptagon ul li::after {
    clip-path: polygon(
            50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%
    );
}

.timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.25);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}


